/code_generation_service/export
/tmp
/node-storage
/startup
/log
/code_generation_service/log
/lib
etc/ivy/ivy.jar
/service
/etc/startup
*.iml
/.idea
restMapping.xml
/out
/code_generation_service/output/
/.DS_Store
/.settings/
.classpath
.project
.settings
.vscode

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
